* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.product-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 0.05fr 0.05fr 1fr 1fr;
  width: 100%;
  margin: 0 auto;
  background-color: #faf8f8;
  max-width: 1250px;
  justify-items: center;
}

@media screen and (max-width: 520px) {
  .product-container {
    grid-template-columns: 1fr;
    grid-template-rows: 0.05fr 0.05fr 0.5fr 0.5fr;
    row-gap: 8px;
    margin-bottom: 300px;
  }
}

@media screen and (min-width: 521px) and (max-width: 850px) {
  .product-container {
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 0.05fr 0.05fr 0.5fr 0.5fr;
    row-gap: 8px;
    margin-bottom: 300px;
  }
}

.web-footer {
  background-color: #0f0f23;
  color: #faf8f8;
  padding-top: 10px;
}

.web__ul {
  list-style-type: none;
  justify-content: space-around;
  display: flex;
}

.web__a {
  text-decoration: none;
  color: aqua;
}
